#container {
    width: 100%;
    height: 100%;
    display: flex;
}

#canvasContainer, #usageDescription {
    border: 1px solid black;
}

#canvasContainer {
    width: 100%;
    height: 100%;
}

#usageDescription {
    display: block;
    vertical-align: center;
    width: 450px;
    height: 100%;
}

#canvasid {
    display: inline-block;
}