#container {
    width: 100%;
    height: 60%;
    display: flex;
}

#canvasContainer, #infoBoxContainer {
    border: 1px solid black;
}

#canvasContainer {
    width: 100%;
    height: 100%;
}

#infoBoxContainer {
    display: block;
    vertical-align: center;
    width: 450px;
    height: 100%;
}

#canvasid {
    display: inline-block;
}

#infoBox {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#usageDescription {
    flex: 0 1 auto;
}

#errorListContainer {
    flex: 1 1 auto;
}

#errorList {
    color: orangered;
}

#errorListContainer {
    height: 100%;
    position: relative;
}

#errorList {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#analysis {
    width: 100%;
    height: 40%;
    display: flex;
}

#transitionMatrixContainer {
    border: 1px solid black;
}

#transitionMatrixContainer {
    width: 300px;
}